Dashboard/.streamlit/
Ortomercato/.streamlit/
Dashboard/appunto.txt
pure-courier-478515-d0-0931aad2e11e.json
script.py
examples/MercatiMilano.csv
dist/
.venv/
build/
__pycache__/
*.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
BringTheFood/app.py
Ortomercato/.env
Ortomercato/.ipynb_checkpoints/Considerazioni-checkpoint.txt
Ortomercato/.ipynb_checkpoints/Ortomercato-Analisi-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/Ortomercato-Previsioni-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/Ortomercato-Prodotti-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/Ortomercato-analisiAmbientale-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/Ortomercato-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/Ortomercato-fornitori-checkpoint.ipynb
Ortomercato/.ipynb_checkpoints/app-checkpoint.py
Ortomercato/Considerazioni.txt
Ortomercato/Dashboard/app.py
Ortomercato/Ortomercato-Analisi.ipynb
Ortomercato/Ortomercato-Previsioni.ipynb
Ortomercato/Ortomercato-Prodotti.ipynb
Ortomercato/Ortomercato-analisiAmbientale.ipynb
Ortomercato/Ortomercato-fornitori.ipynb
Ortomercato/Ortomercato.ipynb
Ortomercato/agent.py
Untitled.ipynb.env

.env
Ortomercato/.env
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/
Bring the food/
Untitled.ipynb
